<div class='footer'>
  <%= image_tag 'footer_logo.png' %>
  <ul>
    <li><%= link_to 'How it Works', '#' %></li>
    <li><div></div><%= link_to 'Help', '#' %></li>
    <li><div></div><%= link_to 'Team', '#' %></li>
    <li><div></div><%= link_to 'Careers', '#' %></li>
    <li><div></div><%= link_to 'Privacy Policy', '#' %></li>
    <li><div></div><%= link_to 'Terms of Service', '#' %></li>
  </ul>
</div>