<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='wrapper'>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <div class='content'>
    <%= yield %>
  </div>
</div>
<footer>
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>
